# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.podspec
ios/Pods/
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/*

# Firebase
firebase-debug.log
firebase-debug.pid

# Misc
.DS_Store
Thumbs.db

# Skills locales (no versionar)
.agents/
skills-lock.json
